NEXT_PUBLIC_API_BASE_URL=http://app.example.com
NEXT_PUBLIC_TOKEN_NAME=token
NEXT_PUBLIC_BASE_URL=http://example.com
NEXT_PUBLIC_API_VERSION_PATH="/api/v1" # optional
NEXT_PUBLIC_CACHE_NAME="cache-v1"